<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Login Or Register</h1>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h2>Register</h2>
    <form action="{% url 'users:create' %}" method="post">
      {% csrf_token %}
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" placeholder="Vanilla">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" placeholder="Ice">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="vanillaice@yahoo.com">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="iceicebaby99">
      <input type="submit" value="Register">
    </form>
    <h2>Login</h2>
    <form action="{% url 'users:login' %}" method="post">
      {% csrf_token %}
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="vanillaice@yahoo.com">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="iceicebaby99">
      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>